{% extends "base.html" %}

{% block content %}

<div class="page-container">
    <div class="glass-box">

        <h2 class="hero-title" style="font-size:28px;">
            {{ t("Enter Budget") }} (₹) 
        </h2>

        <form method="POST" action="/usecase">

            <input type="hidden" name="category" value="{{ category }}">

            <input type="number"
                   name="budget"
                   placeholder="Enter Your Budget"
                   required>

            <br><br>

            <button type="submit" class="cyber-btn">
                Next
            </button>

        </form>

    </div>
</div>

{% endblock %}
